* {
    color: #333;
    box-sizing: border-box;
}
body {
    padding-bottom: 50px;
    min-height: 840px;
}
#menus {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
#menus.active {
    border-bottom: 2px solid #4169e1;
}
.submenu,.product-list {
    font-size: 14px;
}
.submenu {
    display: flex;
    justify-content: space-evenly;
}
.submenu a {
    padding: 10px 10px;
    border-bottom: 2px solid #fff;
}
.submenu a.active {
    border-bottom: 2px solid #4169e1;
}
.submenu a:hover {
    border-bottom: 2px solid #777;
}
.image-items {
    width: 50%;
    text-align: center;
}
.img-operator {
    width: 60%;
    height: 80%;
}
.action {
    display: flex;
    justify-content: space-between;
}
.product-list .card-body {
    position: relative;
    width: 100%;
    height: 100%;
}
.product-list .card {
    position: relative;
}
.product-list .card-footer {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
}
.product-list .card a img{
    transition: .5s;
    position: absolute;
}
.product-list .card a:hover img{
    width: 55%;
}
.img-handphone-sell {
    height: 25rem;
    width: 20x;
}
#jml, #total {
    border: none;
    border-bottom: 1px solid #555;
    outline: none;
    font-size: 12px;
    font-weight: 600;
}
.cart-place {
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.5);
    margin-right: 2rem;
    cursor: pointer;
    position: relative;
}
.cart {
    width: 35px;
    height: 35px;
    transition: .3s;
}
.cart-notif {
    position: absolute;
    right: -5px;
    bottom: -5px;
    background-color: #ee5522;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: .3s;
    transition-duration: .5s;
}
.cart-notif b {
    color: #FFF;
    font-weight: 600;
    font-size: 12px;
}
.cart-place:hover .cart{
    width: 40px;
    height: 40px;
}
.cart-place:hover .cart-notif {
    width: 24px;
    height: 24px;
    bottom: -9px;
    right: -9px;
}
.item-cart {
    width: max-content;
    height: max-content;
    display: none;
    position: absolute;
    box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    z-index: 99;
}
.item-cart-show {
    display: inline-block;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 20px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 20px;
  padding: 0;
  width: 20px;
  position: relative;
  z-index: 999;
  border: 1px solid #777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group .quantity-field {
  position: relative;
  height: 20px;
  left: -6px;
  text-align: center;
  width: 35px;
  display: inline-block;
  font-size: 11px;
  margin: 0 0 5px;
  resize: vertical;
  border: none;
}

.button-plus {
  left: -10px;
}