* {
    color: #333;
    box-sizing: border-box;
}
#menus {
    border-bottom: 2px solid #fff;
}
#menus.active {
    border-bottom: 2px solid #4169e1;
}
.submenu,.product-list {
    font-size: 14px;
}
.submenu {
    display: flex;
    justify-content: space-evenly;
}
.submenu a {
    padding: 10px 10px;
    border-bottom: 2px solid #fff;
}
.submenu a.active {
    border-bottom: 2px solid #4169e1;
}
.submenu a:hover {
    border-bottom: 2px solid #777;
}
.image-items {
    width: 80%;
    text-align: center;
}